<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943541700401-adfouhbkujsonf7vc2mtosejgblfh5q3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943541700401-adfouhbkujsonf7vc2mtosejgblfh5q3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943541700401-1uit4l74m4eeevk68l09rnmk32u0b8hl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoMXUVz45Dz8S4sJOtIOH6z7Lt2IwpayA</string>
	<key>GCM_SENDER_ID</key>
	<string>943541700401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uiTest</string>
	<key>PROJECT_ID</key>
	<string>arpon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>arpon-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943541700401:ios:4373de05bb86ff0cd25210</string>
	<key>DATABASE_URL</key>
	<string>https://arpon-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>